.productContainer {
  width: 23vw;
  height: 100vh;
  padding: 8.5rem 2rem;

  background: var(--white);
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.1);

  overflow: hidden;
  transition: transform 0.3s;
  transform: translateX(0);
  z-index: 10;

  position: fixed;
  right: 0;
  top: 0;

  @media (max-width: 1281px) {
    padding: 6.5rem 1rem;
    width: 18.5rem;
  }

  @media (max-width: 761px) {
    width: 100vw;
    height: auto;
    position: relative;
    padding-top: 8rem;
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 1) 50%,
      rgba(248, 248, 248, 1) 100%
    );
    box-shadow: none;
  }

  &.activeSidebar {
    transform: translateX(100%);
  }

  .carousel {
    width: 100%;
    height: 50vh;

    .slider {
      width: 100%;
      height: 100%;
    }
  }

  header {
    margin-bottom: 2.5rem;

    strong {
      color: var(--blue-800);
      font-weight: 400;
      display: block;

      &:first-of-type {
        font-size: 1.4rem;
        text-transform: uppercase;

        @media (max-width: 768px) {
          font-size: 1rem;
        }
      }

      &:last-of-type {
        font-size: 0.9rem;
        text-transform: capitalize;
        opacity: 0.75;

        @media (max-width: 768px) {
          font-size: 0.8rem;
        }
      }
    }

    span {
      background: var(--blue-800);
      color: var(--white);

      border-radius: 0.65rem 0 0 0.65rem;
      padding: 2rem 1.5rem;
      top: 7.5rem;
      right: 0;
      font-size: 1.4rem;
      font-weight: 400;

      position: absolute;

      @media (max-width: 1281px) {
        top: 7rem;
        padding: 1rem 0.75rem;
      }

      @media (max-width: 761px) {
        top: 7.5rem;
        padding: 1rem 0.75rem;
      }
    }

    @media (max-width: 768px) {
      p {
        font-size: 0.8rem;
      }
    }
  }

  .colorOptions label input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    border-radius: 50%;
    width: 1.5rem;
    height: 1.5rem;

    cursor: pointer;

    background-size: cover;
    background-position: center;

    transition: 0.2s all linear;
    margin-right: 0.5rem;

    @media (max-width: 1281px) {
      width: 2.3rem;
      height: 2.3rem;
    }

    &:checked {
      border: 1px solid var(--rose-600);
    }
  }

  .sizeOptions {
    .productSize {
      display: flex;
      flex-wrap: wrap;
      gap: 0.5rem;

      @media (max-width: 1281px) {
        margin-bottom: 1rem;
      }

      label {
        position: relative;
        background: var(--white);
        box-shadow: 0 0 0.5rem 0.5rem rgba(204, 204, 204, 0.1);

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        border-radius: 0.5rem;
        width: 3.6rem;
        height: 4.6rem;

        @media (max-width: 1281px) {
          width: 2.9rem;
          height: 3.5rem;
        }

        span {
          margin: 0.25rem 0;
        }

        span:nth-of-type(2) {
          opacity: 0.8;
        }

        input {
          -webkit-appearance: none;
          -moz-appearance: none;
          appearance: none;

          position: absolute;
          cursor: pointer;

          border-radius: 0.5rem;
          width: 100%;
          height: 100%;
          left: 0;
          top: 0;

          &:disabled {
            cursor: auto;
            background-color: var(--white);
            filter: brightness(0.95);
            opacity: 0.75;
          }
          transition: border 0.3s;

          &:not(:disabled):hover {
            border: 1px solid var(--rose-600);
          }

          &:checked {
            border: 1px solid var(--rose-600);
          }
        }
      }
    }
  }

  .productBtn {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (max-width: 1281px) {
      flex-wrap: wrap;
      justify-content: center;
    }

    button {
      display: flex;
      align-items: center;
      transition: opacity 0.2s;

      &:hover {
        opacity: 0.8;
      }

      .icon {
        margin-right: 0.5rem;
      }
    }

    button:nth-of-type(1) {
      background: var(--rose-600);
      color: var(--white);
      box-shadow: 0 1.5rem 1rem rgba(231, 28, 76, 0.3);

      margin-right: 3px;

      padding: 1rem 1.75rem;
      border-radius: 1.5rem;

      @media (max-width: 1281px) {
        padding: 2rem 5.35rem;
        border-radius: 2.5rem;
        margin-bottom: 2rem;
      }

      @media (max-width: 761px) {
        padding: 1.75rem 7.8rem;
        border-radius: 0.75rem;
      }
    }

    button:nth-of-type(2) {
      color: var(--blue-800);
    }
  }

  .countrySize {
    display: flex;
    justify-content: space-between;

    button {
      margin-left: 0.5rem;
      font-size: 0.9rem;
    }

    button.countryActive {
      color: var(--blue-800);
    }
  }
}

.paymentOptions {
  width: 100%;
  max-height: 100vh;

  .paymentList {
    width: inherit;
    max-height: 400px;
    border-top: 0;

    .slider {
      display: flex;
      flex-direction: column;
      padding-bottom: 1rem;

      .optionsName {
        width: 100%;
        display: flex;
        justify-content: space-between;

        div {
          display: flex;
          flex-direction: column;

          strong:first-of-type {
            color: var(--blue-800);
            text-transform: uppercase;
          }

          strong:last-of-type {
            color: var(--blue-800);
            opacity: 0.6;
          }
        }
      }

      > strong {
        display: block;
        padding-top: 1.5rem;
        border-top: 2px dotted var(--blue-800);
        color: var(--blue-800);
        opacity: 0.6;
      }

      .optionsInfo {
        display: flex;
        flex-wrap: wrap;

        p {
          width: 50%;
        }
      }
    }
  }
}
